.error.input-field input{
    border-color: red;
}
.error.input-field .error{
    position: absolute;
    bottom: 0px;
    color: red;
    font-size: 12px;
    left: 10px;
}
.input-field{
    margin-bottom: 10px;
}
.task-item{
    padding: 10px 10px;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    border-bottom: solid 1px #cfcfcf;
}
.task-item a{
    cursor: pointer;
}
.toast-custom{
    margin: 8px 0;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 42px 13px 11px 7px;
    background: #e3e3e3;
    font-size: 20px;
    font-weight: 400;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%), 0 3px 1px -2px rgb(0 0 0 / 20%);
}
.toast-custom span{
    position: absolute;
    width: 100%;
    top: 0;
    text-align: end;
    right: 0;
    padding-right: 8px;
    background: #ffffff;
}
.toast-custom span i{
    cursor: pointer;
}
.toast-container{
    display: flex;
    position: fixed;
    left: 5px;
    bottom: 5px;
    flex-direction: column;
}